
<ul id="join" class="join_openday_ul">
	<li>
		<h1>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			Your Schedule Online Interview
		</h1>
	</li>
	<li>
		<h6><%= moment(openday.event_date).format("DD-MMM-YYYY") %></h6>
	</li>
	<li>
		<h1><%= moment(moment.utc(openday.event_date + " " + schedule.schedule_time_start).toDate()).local().format("hh:mmA") %> - <%= moment(moment.utc(openday.event_date + " " + schedule.schedule_time_end).toDate()).local().format("hh:mmA") %></h1>
		<h1>Candidate No. : <%= schedule.candidate_number %></h1>
	</li>
	<li>
		<h2>
			<span><%= openday.page_name %></span> is now ready to interview
		</h2>
	</li>
	<li>
		<button id="joinInterview" class="hvr-shutter-in-horizontal">JOIN NOW</button>
	</li>
	<li>
		<h6><span>Waiting List :</span> <%= waitingListCount %> Candidate(s)</h6>
	</li>
</ul>