<div id="join" class="col-md-8 col-md-offset-2 centered">
        <p class="lead">Your Schedule Online Interview:</p>
        <p>January 1, 2017</p>
        <p class="lead">8:00AM - 8:20AM</p>
        <p class="lead">Candidate No.: 002</p>
        <p class="lead"><%= company_name %> is now ready to interview.</p>
        <p><button id="joinInterview" class="btn btn-lg btn-success">Join Now</button></p>
        <p class="pull-left">Waiting List: <span class="waiting-list-count">20</span> Candidates</p>
        <p class="pull-right">On Going Interview: Candidate No. <span class="ongoing-interview-number">20</span></p>
      </div>
