<div id="rescheduled" class="col-md-8 col-md-offset-2 centered">
        <p>Seems you're offline on your scheduled time. Don't worry you have</p>
        <p class="lead">New Schedule Online Interview:</p>
        <p>January 1, 2017</p>
        <p class="lead">8:00AM - 8:20AM</p>
        <p class="lead">Candidate No.:</p>
        <p class="lead">Thank you for your patience.</p>
        <p class="pull-left">Waiting List: <span class="waiting-list-count">20</span> Candidates</p>
        <p class="pull-right">On Going Interview: Candidate No. <span class="ongoing-interview-number">20</span></p>
      </div>