<div class="col-md-8 col-md-offset-2 col-sm-12 centered">
        <i class="fa fa-users fa-lg"></i>
        <h4>Mariot Food and Beverage Bound to Qatar</h4>
        <fieldset style="text-align: left;">
          <legend>Open Day Online Video Interview</legend>

          

          <ul class="list-inline">
              <li><label>Company</label><span>Company XYZ</span></li>
              <li><label>Date</label><span>January 01, 2017</span></li>
              <li><label>Scheduled Time</label><span>Waiting List</span></li>
          </ul>
          <div class="row">
            <div class="col-md-7">
              <dl class="dl-horizontal">
                <dt>Introduction</dt>
                <dd>Lorem Ipsum Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
              </dl>
            </div>
            <div class="col-md-5">
              <span>Job Position - Fulltime</span>
              <dl class="dl-horizontal">
                <dt>Waiter/Waitress</dt>
                <dd><a href="#">view job details</a></dd>
                <dt>Waiter/Waitress</dt>
                <dd><a href="#">view job details</a></dd>
                <dt>Waiter/Waitress</dt>
                <dd><a href="#">view job details</a></dd>
              </dl>
            </div>
          </div>
        </fieldset>
    </div>