<!-- <div id="scheduled" class="col-md-8 col-md-offset-2 centered">
        <p class="lead">Your Schedule Online Interview:</p>
        <p>January 1, 2017</p>
        <p class="lead">8:00AM - 8:20AM</p>
        <p class="lead">Candidate No.: 002</p>
        <p class="lead">Thank you for your patience.</p>
        <p class="pull-left">Waiting List: <span class="waiting-list-count">20</span> Candidates</p>
        <p class="pull-right">On Going Interview: Candidate No. <span class="ongoing-interview-number">20</span></p>
</div>
 -->

<ul id="join" class="join_openday_ul">
	<li>
		<h1>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			Your Schedule Online Interview:
		</h1>
	</li>
	<li>
		<h6>01-January-2017</h6>
	</li>
	<li>
		<h1>8:00 AM - 8:20 AM</h1>
		<h1>Candidate No. : 002</h1>
	</li>
	<li>
		<h2>
			Thank you for your patience.
		</h2>
	</li>
	
	<li>
		<h6><span>Waiting List :</span> 29 Candidates</h6>
		<h6>On Going Interview: Candidate No. <span class="ongoing-interview-number">20</span</h6>
	</li>
</ul>