<!-- <div id="queue-<%= user.id %>" class="panel panel-info animated fadeInUp">
	<div class="panel-body">
		<b><%= user.name %> <i class="live-marker-<%= user.id %> fa fa-circle"></i></b>
		<div>
			<dd>
			<dt>Software Engineer</dt>
			<dt>Current Location: United Arab Emirates</dt>
			<dt>Nationality: Indian</dt>
			</dd>
		</div>
	</div>
	<div class="panel-footer">
		<button class="btn btn-default btn-sm">View CV</button>
		<button >Invite</button>
		<button  data-user="<%= user.id %>" data-room="<%= room_id %>"  class="reject-button-<%= user.id %> rejectButton btn btn-danger btn-sm">Reject</button>
		<button  data-user="<%= user.id %>" data-room="<%= room_id %>" style="display:none;" class="end-button-<%= user.id %> endButton btn btn-danger btn-sm">End</button>
	</div>
</div> -->
<li id="candidate-<%= data.user_id %>">
	<div class="col-lg-3 col-sm-3 col-xs-12">
		<div class="row">
			<img src="http://fs1.jobsglobal.us/tree/e47/02fc3ee3c7e4584421f2bc43a.png">
		</div>
	</div>
	<div class="col-lg-9 col-sm-9 col-xs-12">
		<div class="row">
			<ul class="interview_list_right_inner_ul">
				<li>
					<h6>
					<%= user.first_name %> <%= user.last_name %>
					<i class="live-marker-<%= user_id %> fa fa-circle" aria-hidden="true"></i>
					</h6>
				</li>
				<li>
					<p><%= user.positionpreferred %></p>
				</li>
				<li>
					<p><%= user.country_code %></p>
				</li>
				<li>
					<p><%= user.nationality %></p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="row">
			<h4 class="schedule_h4">Sched :<%= moment(moment.utc("1992-09-03 " + data.schedule_time_start).toDate()).local().format("hh:mmA") %>-<%= moment(moment.utc("1992-09-03 " + data.schedule_time_end).toDate()).local().format("hh:mmA") %></h4>
		</div>
	</div>
	<% if(!data.date_interviewed_end) { %>
	<div id="candidate-<%= user_id %>-button-group" class="col-lg-12 col-sm-12 col-xs-12">
		<div class="row">
			<ul class="interview_list_btn_ul">
				<li>
					<button data-id="<%= user_id %>"  class="viewButton view_btn">View</button>
				</li>
				<li id="invite-<%= user_id %>">
					<button data-user="<%= user_id %>" data-room="<%= room_id %>" class="invite-button-<%= user_id %> inviteButton interviewing_btn">Interview</button>
				</li>
				<li id="reject-<%= user_id %>">
					<button data-user="<%= user_id %>" data-room="<%= room_id %>"  class="reject-button-<%= user_id %> rejectButton end_btn">Reject</button>
				</li>
				
				<li style="display: none;" id="end-<%= user_id %>">
					<button data-user="<%= user_id %>" data-room="<%= room_id %>"  class="reject-button-<%= user_id %> endButton end_btn">End</button>
				</li>
			</ul>
		</div>
	</div>
	<% } %>

	<div id="candidate-<%= user_id %>-end" <% if(!data.date_interviewed_end) { %> style="display:none" 	<% } %>  class="clol-lg-12 col-sm-12 col-xs-12">
		<div class="row">
			<h4 class="ended_h4">Done Interview at<span id="candidate-<%= user_id %>-end-span"><%= moment(moment.utc(data.date_interviewed_end).toDate()).local().format("MM/D hh:mmA") %></span></h4>
		</div>
	</div>

</li>