
  <h1 class="jg-script-text jg-green">Join to <%= data.event_name %></h1>
  <div class="row jg-border-btm jg-btm-indent jg-mar-btm">
    <div class="col-sm-8 jg-btm-indent">
      <h3 class="jg-no-margin jg-orange"><%= data.page_name %> - <%= data.country_nicename %></h3>
      <p class="jg-bold jg-mar-top jg-grey">Posted : <%=  created_at %></p>
      <!-- <p class="jg-bold ">Salary: 		12,000 AED</p> -->
      <p class="jg-bold ">Valid Until: 	<%= event_date %>| <%= start_time %> - <%= end_time %> </p>
    </div>
    <div class="col-sm-4">
      <div class="row jg-mar-btm">
      <% if(data.stopped_adding_queue == "1") { %>
        <div class="col-sm-10 pull-right">
          <div class="jg-fullybooked jg-mar-btm">
            <a href="#">
              <h4 class="jg-no-margin jg-bold">FULLY - BOOKED</h4>
            </a>
          </div>
          <p class="jg-center">The employer has stopped accepting waiting list</p>
        </div>
      <% } %>
      </div>
      <div class="row">
        <div class="col-sm-12 jg-right">
          <a href="#" class="btn jg-btn btn-success"><span class="fa fa-users"></span>  Email to Friend</a>
          <a href="#" class="btn jg-btn-red btn-danger"><span class="fa fa-users"></span>  Report</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row jg-btm-indent jg-border-btm">
    <div class="col-sm-12">
      <h3 class="jg-bold jg-orange">Introduction</h3>
      <p class="jg-justify jg-bold"><%= data.introduction %></p>
    </div>
  </div>
  <div class="row jg-btm-indent jg-border-btm">
    <div class="col-sm-12">
      <h3 class="jg-bold">Job Positions - <%= data.employment_type %></h3>
      <ul class="jg-job-positions jg-bold">
        <% _.each(data.jobs, function(i) { %> 
        <li class="clearfix"><span class="jg-mar-btm jg-mar-top"><%= i.job_title %></span><a href="#" class="jg-btn-plain pull-right jg-normal jg-underline">View Job Details</a></li>
        <% }) %>
      </ul>
    </div>
  </div>

  <% if(!applied) { %>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="jg-bold jg-disabled">Available Schedule</h3>
      <div class="row">
        <div class="col-sm-9">
          <ul class="jg-available-sched-list">
            <% _.each(data.time_breakdown, function(i){  %>
            <li data-start="<%= i.time_start %>" data-end="<%= i.time_end %>" data-id="<%= i.time_breakdown_id %>" data-candidate_number = "<%= i.designated_candidate_number %>" class="schedule <% if(i.is_filled == 1) { %> jg-sched-unavailable <% } else { %>jg-sched-available <% } %>"><%= moment(data.event_date + ' ' +i.time_start).format('hh:mmA') %>-<%= moment(data.event_date + ' ' +i.time_end).format('hh:mmA') %></li>
            <% }) %>
          </ul>
        </div>
        <div class="col-sm-3">
          <!-- <a href="#" data-toggle="modal" data-target="#joinModal" class="btn jg-btn-join jg-btn-grey jg-btn-big"><span class="fa fa-user"></span>  JOIN</a> -->
          <a href="#resultDetails" id="joinFormBtn" class="btn jg-btn-join jg-btn-grey jg-btn-big"><span class="fa fa-user"></span>	JOIN</a>
        </div>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="row">
    <div style="min-height: 200px;" class="col-sm-12">
        <p class="centered-info">
            You've applied for this event.<br>
            <% if(schedule.is_scheduled) { %>
            
              <i class="fa fa-calendar"></i> Your Online Interview is scheduled on:<br> <%= moment(schedule.event_date).format("MMM DD YYYY") %> <%= moment(schedule.event_date + " " + schedule.schedule_time_start).format("hh:mmA") %>-<%= moment(schedule.event_date + " " + schedule.schedule_time_end).format("hh:mmA") %>
            
            <% } %>
        </p>
    </div>
  </div>
  <% } %>

  
