<li >
  <div class="row time-range-pair-<%= room_number %> time-range-pair">
    <div class="col-lg-5">
      <input type="text" name="timerange" class="time start" value="">
    </div>
    <div class="col-lg-1">
      <div class="row">
        <h4>To</h4>
      </div>
    </div>
    <div class="col-lg-5">
      <input type="text" name="timerange" class="time end" value="">
    </div>
    <div class="col-lg-1">
      <div class="row">
        <a class="openday_add_more_btn remove-time-range" href="#"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
        <a class="openday_add_more_btn add-time-range" href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</li>
