<li class="">
  <div style="display:run-in !important;" class="time-range-pair-<%= room_number %> time-range-pair time-range-pair-<%= room_number %>-<%= time_count %> col-sm-12">
    <div class="col-lg-5 col-xs-12">
      <input type="text" name="timerange" id="time-start-<%= time_count %>" class="time start" value="">

    </div>
    <div class="col-lg-1 col-xs-12">
      <div class="">
        <h4>To</h4>
      </div>
    </div>
    <div class="col-lg-5 col-xs-12">
      <input data-room="<%= room_number %>" data-timecount="<%= time_count %>" type="text" name="timerange" class="time end timerange-end" id="time-end-<%= time_count %>" value="">
    </div>
    <div class="col-lg-1">
      <div class="">
        <a class="openday_add_more_btn remove-time-range remove-time-range-<%= room_number %> remove-<%= room_number %>-<%= time_count %>" href="#"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
        <a data-room-number="<%= room_number %>" class="openday_add_more_btn add-time-range add-time-range-<%= room_number %> add-<%= room_number %>-<%= time_count %>" href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</li>
