<div class="col-xs-12">
  	<select class="col-lg-8 col-xs-10" name="jobs[<%= room_number %>]">
    <% _.each(jobs, function(i) { %>
      <% if(i.job_post_id) { %>
        <option value='{"id": "<%= i.job_post_id %>", "name": "<%= i.job_title %>" }'><%= i.job_title %></option>
      <% } %>
      <% }) %>
    </select>
    <div class="col-lg-2 col-xs-2">
      <a data-room-number="<%= room_number %>" class="remove-job-btn-<%= room_number %> openday_add_more_btn job-select-btn remove-job-btn" href="#jobSelect" style="margin-right: 10px;"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
      <a data-room-number="<%= room_number %>"  class="add-job-btn-<%= room_number %> openday_add_more_btn job-select-btn add-job-btn" href="#jobSelect"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>

    </div>
</div>
