<ul class="openday_recruitment_tools_ul">
								<li>
									<a href="#">
										<i class="fa fa-file-text-o" aria-hidden="true"></i>
										<p>Screen Applicant</p>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-users" aria-hidden="true"></i>
										<p>Short List</p>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-download" aria-hidden="true"></i>
										<p>Download CV</p>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-weixin" aria-hidden="true"></i>
										<p>Zmail</p>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<p>Email CV</p>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-flag" aria-hidden="true"></i>
										<p>Application Status</p>
									</a>
								</li>
							</ul>
							<div class="candidates_profile_view_container">
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="row">
										<div class="col-lg-3 col-sm-3 col-xs-12">
											<div class="row">
												<img src="http://fs1.jobsglobal.us/tree/e47/02fc3ee3c7e4584421f2bc43a.png" class="openday_profile_pic">
											</div>
										</div>
										<div class="col-lg-9 col-sm-9 col-xs-12">
											<ul class="openday_profile_details_ul">
												<li>
													<h1>Khian Smile</h1>
													<h2>Software Engineer</h2>
												</li>
												<li>
													<ul class="openday_profile_details_inner_ul">
														<li>
															<p class="label_p">Industry</p>
															<h6>
																Human Resources/Recruitement
															</h6>
														</li>
														<li>
															<p class="label_p">Location</p>
															<h6>
																UNITED ARAB EMIRATES
															</h6>
														</li>
														<li>
															<p class="label_p">Expected Salary</p>
															<h6>
																10,000 AED
															</h6>
														</li>
														<li>
															<p class="label_p">Email</p>
															<h6>
																xxxxxxxxxx@gmail.com
															</h6>
														</li>
														<li>
															<p class="label_p">Phone</p>
															<h6>
																00971 55 555 6666
															</h6>
														</li>
														<li>
															<p class="label_p">Profile Link</p>
															<h6>
																<a>
																	http://jobsportal.profile.com/0982387472
																</a>
															</h6>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="row">
							    		<h3 class="profile_page_heading_h3">
							    			Professional Experience
							    		</h3>
									    <div class="prof_exp_result">
											<ul class="professional_experience_ul animated fadeIn">
												<li>
													<h4>
														Web designer
													</h4>
												</li>
												<li>
													<h5>Jobsglobal</h5>
												</li>
												<li>
													<ul class="professional_exp_details_ul">
														<li>
															<p class="label_p">Industry</p>
															<h6>
																<i class="fa fa-industry" aria-hidden="true"></i> Human Resources/Recruitement
															</h6>
														</li>
														<li>
															<p class="label_p">Location</p>
															<h6>
																<i class="fa fa-map-marker" aria-hidden="true"></i> UNITED ARAB EMIRATES
															</h6>
														</li>
														<li>
															<p class="label_p">Date</p>
															<h6>
																<i class="fa fa-calendar-o" aria-hidden="true"></i> Nov 2015 - undefined NaN
															</h6>
														</li>
													</ul>
												</li>
												<li>
													<h2>Description</h2>
													<p class="description_p">
														Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
													</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="row">
										<h3 class="profile_page_heading_h3">
											Education
										</h3>
										<div id="" class="profile_result_wrapper">
											<ul class="professional_experience_ul animated fadeIn">
												<li>
													<h4> Web designing </h4>
												</li>
												<li>
													<h5>Rays animation</h5>
												</li>
												<li>
													<ul class="professional_exp_details_ul">
														<li>
															<p class="label_p">Location</p>
															<h6>
																<i class="fa fa-map-marker" aria-hidden="true"></i>
																INDIA
															</h6>
														</li>
														<li>
															<p class="label_p">Date</p>
															<h6>
																<i class="fa fa-calendar-o" aria-hidden="true"></i>
																Feb 2012 - Mar 2015
															</h6>
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="row">
										<h3 class="profile_page_heading_h3">
											Professional Skills
										</h3>
										<ul class="professional_skills_ul skill_result_list animated fadeIn">
											<li>
												<p>HTML</p>
											</li>
											<li>
												<p>Graphic Design</p>
											</li>
											<li>
												<p>web design</p>
											</li>
											<li>
												<p>ghdfgh</p>
											</li>
										</ul> 
									</div>
								</div>
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="row">
										<h3 class="profile_page_heading_h3">
											Social Information
										</h3>
										<ul id="personalInfo" class="personal_info_ul animated fadeIn">
											<div class="row">
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Birthdate</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															Apr 15, 1992
														</h4>
													</li>
												</div>
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Gender</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															Male
														</h4>
													</li>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Marital Status</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															Single
														</h4>
													</li>
												</div>
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Nationality</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															Indian
														</h4>
													</li>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Weight</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															50 KG
														</h4>
													</li>
												</div>
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Height</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															6.ft
														</h4>
													</li>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Availability</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															xxxxx
														</h4>
													</li>
												</div>
												<div class="col-lg-6 col-sm-6 col-xs-12">
													<li>
														<p class="label_p">Visa Status</p>
														<h4>
															<i class="fa fa-caret-right" aria-hidden="true"></i>
															Visit Visa
														</h4>
													</li>
												</div>
											</div>
										</ul> 
									</div>
								</div>
							</div>