     
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <ul class="promote_post_form_ul">
                            <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Location</p>
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-xs-12">
                                        <div id="location-bar">
                                            
                                        </div>
                                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.634130243909!2d55.33804891527294!3d25.249245183871984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5d193ae98731%3A0x6922941ecfae7fa9!2sGGICO+Metro+Station!5e0!3m2!1sen!2s!4v1486299335565" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                                        <div id="maps"></div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Industry</p>
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-xs-12">
                                        <input id="industry" type="text">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Gender</p>
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-xs-12">
                                        <ul class="gender_ul">
                                            <li>
                                                <input value="Male"  class="gender" name="gender" type="radio">
                                                <p>Male</p>
                                            </li>
                                            <li>
                                                <input value="Female"  class="gender"  name="gender" type="radio">
                                                <p>Female</p>
                                            </li>
                                            <li>
                                                <input value="Other" class="gender"  name="gender" type="radio">
                                                <p>Other</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                             <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Currency</p>
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-xs-12">
                                        <ul class="two_column_ul">
                                            
                                            <li class="col-lg-6 col-sm-6 col-xs-6">
                                                <select class="form-control" id="currency">
                                                    <option value="0">Select Currency</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Budget per Day</p><br>
                                        <i style="font-size:10px;">Optional</i>
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-xs-12">
                                        <ul class="two_column_ul">
                                            <li class="col-lg-6 col-sm-6 col-xs-6">
                                                <input id="budgetPerDay" type="text" class="costField"><span class="selectedCurrency"></span>
                                            </li>
                                        
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Bid per Engagement/Click</p>
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-xs-12">
                                        <ul class="two_column_ul">
                                            <li class="col-lg-8 col-sm-8 col-xs-8">
                                                <input type="text" id="bidPerClick" ><span class="selectedCurrency"></span>
                                            </li>
                               
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Schedule</p>
                                    </div>
                                    <div id="dateRange" class="input-daterange col-lg-9 col-sm-9 col-xs-12">
                                        <h6>
                                            <input class="schedule_type" name="schedule_type" value="continuous"  type="radio">
                                            Run my ad set continuously starting today
                                        </h6>
                                        <h6>
                                            <input class="schedule_type" name="schedule_type" value="limited"  type="radio">
                                            Set start and end date
                                        </h6>
                                        <ul class="promote_post_schedule_ul">
                                            <li class="col-lg-2 col-sm-2 col-xs-12">
                                                <p>From</p>
                                            </li>
                                            <li class="col-lg-5 col-sm-5 col-xs-6">
                                                <input  id="startDate" class="date start costField" type="text">
                                            </li>
                                            <li class="col-lg-5 col-sm-5 col-xs-6">
                                                <input id="startTime" class="time start" />
                                            </li>
                                        </ul>
                                        <ul class="promote_post_schedule_ul">
                                            <li class="col-lg-2 col-sm-2 col-xs-12">
                                                <p>To</p>
                                            </li>
                                            <li class="col-lg-5 col-sm-5 col-xs-6">
                                                <input  id="endDate"  class="date end costField" type="text">
                                            </li>
                                            <li class="col-lg-5 col-sm-5 col-xs-6">
                                                <input id="endTime" class="time end jg-timepicker" />
                                            </li>
                                        </ul>
                                        <h4 class="ad_note_h4">Your ad will run for <span class="adDays">0</span> days. you'll spend no more than <span class="selectedCurrency">AED</span> <span class="adCost">0.00</span>.<br>Estimated reach 1000 - 2000.</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-1 col-sm-1 col-xs-12">
                        
                    </div>
                    <div class="col-lg-5 col-sm-5 col-xs-12">
                        <ul class="promote_post_form_ul">
                            <li>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-xs-12">
                                        <p>Keywords</p>
                                    </div>
                                    <div class="col-lg-9 col-sm-9 col-xs-12">
                                        <textarea id="keyword"></textarea>
                                        <ul class="ads_include_list_ul">
                                            <li>
                                                <input id="is_people_applied_included" type="checkbox">
                                                <p>Include people who applied to my job post.</p>
                                            </li>
                                            <li>
                                                <input id="is_people_viewed_job_included" type="checkbox">
                                                <p>Include people who viewed my job post.</p>
                                            </li>
                                            <li>
                                                <input id="is_people_viewed_page_included" type="checkbox">
                                                <p>Include people who viewed my company page.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button id="promoteBtn" class="promote_post_btn hvr-shutter-in-horizontal">
                                    Promote
                                </button>
                            </li>
                            <li>
          <div>
          <p id="location-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Location is required</p>
          </div>
        <div>
          <p id="all-location-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>All Location must be filled up.</p>
          </div>
          <div>
           <p id="radius-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Radius is required</p>

          </div>

           <div>
       <p id="industry-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Industry is required</p>

          </div>
          <div>
             <p id="budget_per_day-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>Budget Per Day is required</p>

          </div>

            <div>
             <p id="bid_per_engagement-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>Bid Per Click is required</p>

          </div>
           <div>
             <p id="currency_id-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>Currency is required</p>

          </div>
            <div>
             <p id="bid_per_engagement-must-be-decimal-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>Bid Per Click must be a decimal value</p>

          </div>
          <div>
             <p id="budget_per_day-must-be-decimal-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>Budget Per Day must be a decimal value</p>

          </div>
   
            <div>
             <p id="schedule-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>Select Schedule of your ad.</p>

          </div>
           <div>
             <p id="start-date-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>Start Date is required</p>

          </div>

          <div>
             <p id="end-date-required" class="required-tag text-danger"><i class="fa fa-info-circle"></i>End Date is required</p>

          </div> 
         <div>
             <p id="post-error" class="required-tag text-danger"><i class="fa fa-info-circle fa-fw"></i>Cannot Proccess your request make sure that this item does not have a currently running promotion.</p>

          </div>

       


      </li>

                        </ul>
                    </div>
                </div>
          