           <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="ads_page_wrapper">
                            <h6 class="ads_subhead_h6">Candidates with Premium Job Seeker get hired an average of 2X as fast</h6>
                            <ul class="ads_page_wrapper_ul">
                                <li>
                                    <div class="col-lg-2 col-sm-2 col-xs-2">
                                        <div class="row">
                                            <i class="fa fa-envelope-open" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-xs-10">
                                        <div class="row">
                                            <p>Direct messaging to recruiters<span>Reach out directly to any recruiter or job poster with 3 ZMail credits.</span></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-lg-2 col-sm-2 col-xs-2">
                                        <div class="row">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-sm-10 col-xs-10">
                                        <div class="row">
                                            <p>Featured Applicant<span>Move to the top of recruiters' applicant lists.</span></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="col-lg-2 col-sm-2 col-xs-2">
                                        <div class="row">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                     <div class="col-lg-10 col-sm-10 col-xs-10">
                                        <div class="row">
                                            <p>Who's Viewed Your Profile<span>See who's viewed you in the last 90.</span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button id="startFreeMonthBtn" class="start_trial_btn hvr-shutter-in-horizontal">
                            Start my free month
                        </button>
                        <p class="ads_note_p">
                            No commitment for 1 month - cancel anytime after your free month, pay as little as $29.99* / month
                        </p>
                    </div>
                </div>