body {
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 50px;
	  padding-top: 70px;
}

body.chatroom{
  padding: 20px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
    padding-top: 70px;
   // add prefixed versions too.
}



a {
  color: #00B7FF;
}

.chatroom .centered {
	text-align: center;
}

.chatroom .small-text {  font-size: 11px;  }

.chatroom .masthead {  font-size: 11px !important;   border-bottom: 1px solid #e0dddd; padding-top: 2.5px; padding-bottom: 2.5px;  }

.chatroom .content { margin-top: 10px; }

.chatroom .extend-hours {margin-top: 10px; margin-bottom:5px; }
.chatroom .extend-hours .item { display: inline-block; margin-right: 10px; }

.chatroom .profile-viewer iframe { border: 0px; }

.chatroom .queue-section { height: 500px; overflow: scroll;  }

.chatroom #candidate-interview { display:block; }
.candidate-view fieldset {

    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.candidate-view     legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

.candidate-view .list-inline label	{ margin-right: 5px;	 }
.startInterviewButton { display: none;  }
/*#scheduled {  display: none;  }
#join {  display: block;  }
#waiting {  display: none;  }
#rescheduled {  display: none;  }
#reject {  display: none;  }
#missed {  display: none;  }*/
