<ul class="checkout-form interview_post_form nterview_post_form_list">
  <li>
    <ul class="checkout_ul">
      <li>
        <div class="col-lg-3">
          <h3>$<%= rate %> / hour <span class="pull-right">x</span></h3>
        </div>
        <div class="col-lg-1"><h4><%= total_hours %></h4></div>
        <div class="col-lg-3">
          <h3>no.of hours</h3>
        </div>
        <div class="col-lg-3"><p>$<%= total_prize %></p></div>
      </li>
      <!--<li>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-1"><h4>1</h4></div>
        <div class="col-lg-3">
          <h3>no.of hours</h3>
        </div>
        <div class="col-lg-3"><p>$50.00</p></div>
      </li>-->
      <li>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <h3>Total</h3>
        </div>
        <div class="col-lg-3"><p class="checkout_total_p">$<%= total_prize %></p></div>
      </li>
    </ul>
    <div class="paypal_icon_wrapper">
      <p>Payment Method</p>
      <img src="images/paypal_logo.png" alt="">
    </div>
  </li>
</ul>
