<div class="row room-form">
<div class="col-lg-12 col-xs-12">
   
      <li>
          <div>
          <p id="event_name-required-<%= room_number %>" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Event name is required</p>
          </div>
          <div>
           <p id="event_date-required-<%= room_number %>" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Event date is required</p>
            
          </div>
          <div>
             <p id="time_interval_per_candidate-required-<%= room_number %>" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Time Interval per candidate is required</p>
            
          </div>

          <div>
             <p id="time-range-zero-minute-<%= room_number %>" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Time Range must be more than a minute</p>
            
          </div>

          <div>
             <p id="linked-job-post-required-<%= room_number %>" class="required-tag text-danger"><i class="fa fa-info-circle"></i> Duplicate linked job post not allowed.</p>
            
          </div>

    
      </li>
   
  
 

    

</div>
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <li>
      <p class="col-xs-12">Event Name</p>
      <span>
      <input data-validation="required" type="text" name="event[<%= room_number %>]['name']" id="eventName" class="col-lg-7 col-xs-12" placeholder="Type Open Day Event Name"><br>
        
      </span>
    
    </li>
    <li>
      <p class="col-xs-12">Date</p>
      <input type="text" data-validation="date" data-validation-format="mm/dd/yyyy" name="event[<%= room_number %>]['date']" id="eventDate" class="col-lg-4 datepicker col-xs-12" placeholder="Select Date">
      <div class="hidden-xs  hidden-sm col-lg-1 col-xs-1">
        <a class="openday_add_more_btn"><i class="fa fa-calendar" aria-hidden="true"></i></a>
      </div>
            
    </li>
    <li>
      <p>Time Interval Per Candidate (minutes)</p>
      <input data-validation="number" type="number" name="event[<%= room_number %>]['time_interval']" id="timeIntervalPerInterview" class="col-lg-3 col-xs-12" placeholder="ex. 20 min">
     
    </li>
    <li>
      <p>Link to Job Post's </p>
      <ul class="wrapper_gender_ul">
        <li>
          <ul class="gender_ul">
            <li>
              <input  data-room-number="<%= room_number %>"  class="job-type-radio-<%= room_number %> job-type-radio" name="job-type-<%= room_number %>" checked value="1" type="radio">
              <p>Full-Time</p>
            </li>
            <li>
              <input data-room-number="<%= room_number %>"  class="job-type-radio-<%= room_number %> job-type-radio" name="job-type-<%= room_number %>" value="2" type="radio">
              <p>Part-Time</p>
            </li>
            <li>
              <input  data-room-number="<%= room_number %>" class="job-type-radio-<%= room_number %> job-type-radio" name="job-type-<%= room_number %>" value="3" type="radio">
              <p>Temporary</p>
            </li>
          </ul>
        </li>
        <li>
        <group id="jobSelect-<%= room_number %>">


         </group>
        </li>
      </ul>
    </li>
<!--     <li>
      <p>Open Day Interview Link</p>
      <a href="#" class="intrvw_link_a">
        jobsglobal.com/events/xxxxxxxxx
      </a>
    </li> -->
  </div>
  <div class="col-lg-6 col-sm-6 col-xs-12">
    <li>
      <p>Time Range From</p>
      <ul id="timeRangeList-<%= room_number %>" class="col-lg-9 col-xs-12 time_range_ul">


      </ul>
    </li>
    <li>
      <p>Introduction</p>
      <textarea data-validation="required" name="event[<%= room_number %>]['introduction']" id="introduction" class="col-lg-9 col-xs-12" placeholder="Type Description"></textarea>
    </li>
    <li>
      <p>Recruiter In-charge</p>
      <select  data-validation="required" name="event[<%= room_number %>]['in_charge_user_id']" id="in-charge-<%= room_number %>"  class="col-lg-4 col-xs-12">
        
      </select>
    </li>
  </div>
</div>
